[Unit]
Description=Chassis Avahi Hosts Updater
StartLimitBurst=5
Wants=chassis-hosts.timer

[Service]
Type=oneshot
ExecStart=/usr/bin/avahi-publish-aliases
