/shared
/.vagrant
/index.php
/local-config.php
/local-config-db.php
/local-config-extensions.php
/local-config-hosts.php
/sql-dump-*.sql
/db-sync
/content
.DS_Store
.idea
.vscode
config.local.yaml
/.wp-cli
/wp-cli.local.yml
/extensions
/phpmyadmin
*.box
/xhgui
/*.cert
/phpmemcachedadmin
/webgrind
