/shared
/.vagrant
/index.php
/local-config.php
/local-config-db.php
/local-config-extensions.php
/sql-dump-*.sql
/db-sync
/content
.DS_Store
.idea
config.local.yaml
/.wp-cli
/wp-cli.local.yml
/extensions
/phpmyadmin
/*.cert
