[submodule "puppet/modules/mysql"]
	path = puppet/modules/mysql
	url = https://github.com/puppetlabs/puppetlabs-mysql.git
[submodule "puppet/modules/stdlib"]
	path = puppet/modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "puppet/modules/apt"]
	path = puppet/modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "puppet/modules/wp"]
	path = puppet/modules/wp
	url = https://github.com/rmccue/puppet-wp.git
[submodule "wp/wp-content/themes/twentysixteen"]
	path = wp/wp-content/themes/twentysixteen
	url = https://github.com/WordPress/twentysixteen
